
<div class="whitespace"></div>
<div id="people" class="transitions-enabled">
  <% @persons.each do |person| %>
  <div class="box">
<%= link_to image_tag("#{person.img_url}"), person_path(person) %>
</div>
  <% end %>
</div>
