// Place all the styles related to the Houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#houses {
  margin-top: 20px;
  z-index: 1;
}

#houses{
  margin-top: 10px;
  margin: 0 auto;
  z-index: 1;
}
.house-profile {
  margin-top: 160px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.box {
  margin: 5px;
  width: 244px;

}
.box img {
  width: 100%;
}
