// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  display: inline-block;
  max-width:600px;
  max-height:380px;
  width: auto;
  height: auto;
}

#people{
  margin: 0 auto;
  display: block;
  width: 100%;

}

.box {
  left: 10px;
  margin: 0 auto;
}

.box img {
  margin: 5px;
  width: 80%;

}
